<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>WKAppBundleIdentifier</key>
			<string>PATH.AppleRawData.watchkitapp</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.watchkit</string>
	</dict>
	<key>NSHealthUpdateUsageDescription</key>
	<string>We will need your data for research purposes.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>We will need to track your workouts.</string>
	<key>NSMotionUsageDescription</key>
	<string>We need your motion data for research.</string>
</dict>
</plist>
